@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* 
  This .css file is for screensize > 750px width. A similar file, style-mobile.css, exists
  for screen sizes greater than 750 px.
 */

/***********
 * GENERAL *
 ***********/
html, body {
  margin: 0;
}

/*************
 * HOME PAGE *
 *************/

/* Containers */ 
.container {
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  background: black;
}
.container-home {
  height: 100vh;
  min-height: 50vw;
  min-width: 50vh;
}
.container-title {
  position: relative;
  width: 100%;
  margin-top: 5vh;
}
.container-options {
  text-align: center;
  position: absolute;
  top: 72%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.container-buttons {
  text-align: center;
  position: relative;
  margin: calc(1vw + 1vh);
}

/* Image and Video Formatting */
.img-home {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.iframe-home-box {
  float: left;
  margin: 0;
  width: 50%;
}
.iframe-home {
  width: 50vw;
  height: 28.125vw;
  vertical-align: middle;
  border: none;
}

/* Text Style and Positioning */
.container-title h1 {
  /* Style */
  text-align: center;
  font-family:"Quicksand";
  font-size: calc(4vw + 4vh);
  font-variant: normal;
  font-weight: 300;
  color: #E2E2E2;
  /* Position */
  margin: 0;
  position: relative;
}
.container-home h2 {
  /* Style */
  text-align: center;
  font-family:"Quicksand";
  font-size: calc(1.5vw + 1.5vh);
  font-variant: normal;
  font-weight: 300;
  color: #E2E2E2;
  /* Position */
  margin: 3vw;
  position: relative;
}
.container-home h3 {
  /* Style */
  text-align: center;
  font-family:"Quicksand";
  font-size: calc(1.5vw + 1.5vh);
  font-variant: normal;
  font-weight: 300;
  color: #E2E2E2;
  /* Position */
  margin: 0vw;
  position: relative;
}

/* Buttons */
.button-home {
  /* Button margin */
  margin: calc(0.5vw + 0.5vh);
  /* Button style */
  background-color: transparent;
  border: calc(0.15vw + 0.15vh) solid #E2E2E2;
  border-radius: calc(0.6vw + 0.6vh);
  color: #E2E2E2;
  width: calc(7vw + 7vh);
  padding: calc(0.6vw + 0.6vh) 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Quicksand";
  font-size: calc(1.2vw + 1.2vh);
}
.button-home:hover {
  -webkit-transition-duration: 0.4s; /* For safari */
  transition-duration: 0.4s;
  background-color: #E2E2E2;
  color: black;
}

/* Social Media Buttons */
.fa-home {
  /* Button Margin */
  margin: calc(0.4vw + 0.4vh);
  /* Button Style */
  padding: calc(0.6vw + 0.6vh) calc(0.4vw + 0.4vh);
  font-size: calc(1.2vw + 1.2vh);
  width: calc(1.6vw + 1.6vh);
  border: calc(0.15vw + 0.15vh) solid #E2E2E2;  
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: #E2E2E2;
}
.fa-home:hover {
  -webkit-transition-duration: 0.4s; /* For safari */
  transition-duration: 0.4s;
  background-color: #E2E2E2;
  color: black;
}

/* Stop page elements shrinking once height goes below min-height */
@media only screen and (max-height: 50vw) {
  .container-title {
    margin-top: 2.5vw;
  }
  .container-home h1 {
    font-size: 6vw;
  }
  .container-home h2 {
    font-size: 2.25vw;
  }
  .container-home h3 {
    font-size: 2.25vw;
  }
  .container-buttons {
    margin: 1.5vw;
  }
  .button-home {
    margin: 0.75vw;
    border: 0.225vw solid #E2E2E2;
    border-radius: 0.9vw;
    width: 10.5vw;
    padding: 0.9vw 0;
    font-size: 1.8vw;
  }
  .fa-home {
    margin: 0.6vw;
    padding: 0.9vw 0.6vw;
    font-size: 1.8vw;
    width: 2.4vw;
    border: 0.225vw solid #E2E2E2;
  }
}

/* Stop page elements shrinking once width goes below min-width. */
@media only screen and (max-width: 50vh) {
  .container-home h1 {
    font-size: 6vh
  }
  .container-home h2 {
    font-size: 2.25vh;
    margin: 1.5vh;
  }
  .container-home h3 {
    font-size: 2.25vh;
  }
  .container-buttons {
    margin: 1.5vh;
  }
  .button-home {
    margin: 0.75vh;
    border: 0.225vh solid #E2E2E2;
    border-radius: 0.9vh;
    width: 10.5vh;
    padding: 0.9vh 0;
    font-size: 1.8vh;
  }
  .fa-home {
    margin: 0.6vh;
    padding: 0.9vh 0.6vh;
    font-size: 1.8vh;
    width: 2.4vh;
    border: 0.225vh solid #E2E2E2;
  }
}

/* Footer */
.footer-home {
  width: 100%;
  position: relative;
  margin: 0;
  background-color: black;
}
.footer-home p {
  text-align: left;
  font-family:"Quicksand";
  font-size: 1.5vw;
  font-variant: normal;
  font-weight: 100;
  color: #E2E2E2;
  margin: 0;
}

/*************
 * MAIN PAGE *
 *************/

/* Containers */
.container-main {
  width: 100%;
  min-width: 700px;
  background-color: white;
  margin: 0;
}
.narrow-text {
  width: 100%;
  min-width: 700px;
  max-width: 1080px;
  margin: 0 auto;
}
.narrow-text p {
  text-align: justify;
  font-family:"Quicksand";
  font-size: 20px;
  font-variant: normal;
  font-weight: 50;
  color: #5E5E5E;
  margin: 15px;
}
.container-buttons-header {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.container-socials-header {
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 32px;
}
.photo-row {
  width: 100%;
  text-align: center;
}
.hline {
  width: calc(100% - 30px);
  height: 2px;
  background: #5E5E5E;
  margin: 0 15px 20px 15px;
}

/* Header Container */
.header {
  position: fixed;
  width: 100%;
  min-width: 700px;
  max-width: 1080px;
  background: #5E5E5E;
  height: 65px;
  z-index: 1000;
}
.header-background {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: #5E5E5E;
  height: 65px;
  z-index: 999;
}
.header-spacing {
  height: 65px;
}

/* Header Text */
.header h1 {
  /* Style */
  text-align: center;
  font-family:"Quicksand";
  font-size: 40px;
  font-variant: normal;
  font-weight: 350;
  color: #E2E2E2;
  /* Position */
  margin: 0;
  position: absolute;
  top: 40px;
  left: 130px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header h2 {
  /* Style */
  text-align: center;
  font-family:"Quicksand";
  font-size: 20px;
  font-variant: normal;
  font-weight: 50;
  color: #E2E2E2;
  /* Position */
  margin: 0;
  position: absolute;
  top: 15px;
  left: 130px;
  margin-right: -50%;
  transform: translate(-50%, -50%);	
}

/* Header Section Buttons */
.button-header {
  /* Button size */
  height: 20px;
  /* Button style */
  background-color: transparent;
  color: #E2E2E2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Quicksand";
  font-size: 20px;
  margin: 0;
}
.button-header:hover {
  -webkit-transition-duration: 0.4s; /* For safari */
  transition-duration: 0.4s;
  font-size: 24px;
}

/* Hard code button text widths to stop hover expansion moving buttons. Width is
 * normal width + 17px. This allows equispaced margins without the longest expanded
 * button exceeding size. */
.button-bio {
  width: 46.2px;
}
.button-vids {
  width: 79.03px;
}
.button-faqs {
  width: 65.41px;  
}
.button-set {
  width: 71.19px;
}
.button-contact {
  width: 101.92px;
}

/* Header Social Media Buttons */
.fa-head {
  padding: 4px;
  font-size: 18px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #E2E2E2;
  border: 0;
}
.fa-head:hover {
  -webkit-transition-duration: 0.4s; /* For safari */
  transition-duration: 0.4s;
  font-size: 24px;
}

/* Section Title Banner */
.banner {
  position: relative;
  width: 100%;
  height: 33vh;
  min-height: 200px;
}
.banner-img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.banner-text {
  font-family: "Quicksand";
  color: #E2E2E2;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-text h1 {
  font-weight: 350;	
  font-size: 60px;
  margin: 0;
}
.banner-text h2 {
  font-weight: 50;
  font-size: 20px;
}
.banner-anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

/* First Section: Biography */
.section1-text {
  float: left;
  width: calc(50% - 22.5px);
  margin: 15px 7.5px 0 15px;
}
.section1-text p {
  text-align: justify;
  font-family:"Quicksand";
  font-size: 20px;
  font-weight: 50;
  color: #5E5E5E;
  margin: 0 0 15px 0;
}
.section1-img {
  width: calc(50% - 22.5px);
  margin: 15px 15px 15px 7.5px;
}
.section1-img-wide {
  width: 0;
  margin: 0;
}

/* Change visible picture and move once window starts to shrink.*/
@media only screen and (max-width: 1080px) {
  .section1-text {
    float: none;
    width: calc(100% - 30px);
    margin: 15px;
  }
  .section1-img {
    float: none;
    width: 0;
    margin: 0;
  }
  .section1-img-wide {
    float: none;
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

.section1-sub {
  width: 33.3%;
  margin: 0;
  float: left;
  text-align: center;
}
.section1-sub h1 {
  margin: 0;
  font-family: "Quicksand";
  font-size: 25px;
  font-weight: 5000;
  color: #5E5E5E;
}
.section1-sub p {
  margin: 15px;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 50;
  color: #5E5E5E;
  text-align: center;
}
.section1-sub img {
  margin: 0 15px 15px 15px;
  width: calc(100% - 30px);
}

/* Second Section: Videos */
.section2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section2-vidbox {
  text-align: center;
  margin: 15px;
  width: 350px;
}
.section2 h1 {
  font-family: "Quicksand";
  font-size: 30px;
  font-variant: normal;
  font-weight: 300px;
  color: #5E5E5E;
  margin: 0;
}
.s2-artist {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 10px 0;
}
.section2 h2 {
  font-family: "Quicksand";
  font-size: 20px;
  font-variant: normal;
  font-weight: 100px;
  color: #5E5E5E;
  margin: 0;
}
.section2 p {
  font-family:"Quicksand";
  font-size: 20px;
  font-variant: normal;
  font-weight: 50;
  color: #5E5E5E;
  margin: 10px 0;
  text-align: center;
}
.section2 iframe {
  width: 100%;
  height: 350px;
  border: none;
}

/* Third Section: FAQs */
.section3 {
  width: 100%;
  margin: 0;
}
.section3 h1 {
  text-align: left;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 100px;
  color: #5E5E5E;
  margin: 15px;
}
.section3 p {
  text-align: left;
  font-family:"Quicksand";
  font-size: 20px;
  font-style: italic;
  font-weight: 50;
  color: #5E5E5E;
  margin: 15px 15px 15px 40px;
}

/* Fourth Section: Setlist */
.spotify-playlist {
  width: calc(100% - 30px);
  height: 600px;
  margin: 0 0 0 15px;
}

/* Fifth Section: Contact */
.section5 {
  width: 100%;
  margin: 0;
  background: white;
}
.section5 h1 {
  text-align: center;
  font-family: "Quicksand";
  font-size: 20px;
  text-decoration: underline;
  font-weight: 100px;
  color: #5E5E5E;
  margin: 15px;
}
.section5 p {
  text-align: justify;
  font-family:"Quicksand";
  font-size: 20px;
  font-variant: normal;
  font-weight: 50;
  color: #5E5E5E;
  margin: 15px;
}
.triple-img {
  width: 30%;
  margin: 1%;
}

/* Footer */
.footer-main {
  width: 100%;
  position: relative;
  margin: 0;
  background-color: black;
}
.footer-main p {
  text-align: left;
  font-family:"Quicksand";
  font-size: 20px;
  font-variant: normal;
  font-weight: 50;
  color: #E2E2E2;
  margin: 0 15px;
}
.footer-wide {
  width: 100%;
  height: 25px;
  margin-top: -25px;
  background-color: black;
}
